<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/index']"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-toolbar color="medium">
    <label for="" style="color: white; margin-left: 12px;">Ingenieria en informatica</label>
  </ion-toolbar>

  <ion-card>
    <ion-item color="primary">
      <ion-label>Calidad de software<br><ion-text color="success">
        <sub>100% asistencia</sub>
      </ion-text></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-label>Programacion web<br><ion-text color="warning">
      <sub>70% asistencia</sub>
      </ion-text></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-label>Programacion de algoritmos<br><ion-text color="warning">
      <sub>70% asistencia</sub>
      </ion-text></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-label>Programacion base de datos<br><ion-text color="danger">
       <sub>40% asistencia</sub>
      </ion-text></ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-label>Inteligencia de negocios<br><ion-text color="success">
        <sub>87% asistencia</sub>
      </ion-text></ion-label>
    </ion-item>
  </ion-card>

  
  <ion-card>
    <ion-item color="primary">
      <ion-label>Integracion de pkataformas<br><ion-text color="success">
        <sub>97% asistencia</sub>
      </ion-text></ion-label>
    </ion-item>
  </ion-card>

  
  <ion-card>
    <ion-item color="primary">
      <ion-label>Modelamiento de base de datos<br><ion-text color="success">
        <sub>92% asistencia</sub>
      </ion-text></ion-label>
    </ion-item>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <img src="assets/img/footer.png" />
  </ion-toolbar>
</ion-footer>