<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button [routerLink]="['/index']" ></ion-back-button>
    </ion-buttons>
    <ion-title>ramos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-toolbar color="medium">
    <label for="" style="color: white; margin-left: 12px;">Ramos inscrito</label>
  </ion-toolbar>
  <ion-list color="dark">
    <ion-item color="dark">
        <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        <h2>Programacion de base de datos</h2>
        <p>Profesor Patricio Yañez</p>
      </ion-label>
    </ion-item>

    <ion-item color="dark">
      <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        <h2>Calidad de Software</h2>
        <p>Profesor Manuel Hidalgo</p>
      </ion-label>
    </ion-item>

    <ion-item color="dark">
      <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        <h2>Inteligencia de Negocios</h2>
        <p>Profesor Julio Lopez</p>
      </ion-label>
    </ion-item>

    <ion-item color="dark">
      <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        <h2>Programacion de Algoritmos</h2>
        <p>Profesor Fabian Carvacho</p>
      </ion-label>
    </ion-item>

    <ion-item color="dark">
      <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        <h2>Programacion web</h2>
        <p>Profesor Patricio Yañes</p>
      </ion-label>
    </ion-item>

    <ion-item color="dark">
      <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        <h2>Integracion de Plataformas</h2>
        <p>Profesor Jose Pino</p>
      </ion-label>
    </ion-item>
    
    <ion-item color="dark">
      <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        <h2>Modelamiento de base de datos</h2>
        <p>Profesor Julio Lopez</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <img src="assets/img/footer.png" />
  </ion-toolbar>
</ion-footer>